*, *:before, *:after {
    box-sizing: inherit;
}
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

a:hover {
    color: #37064b;
    border-bottom-color: rgba(255, 255, 255, 0);
}
